:host {
  display: block;
  min-height: 100vh;
}

main {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 transparent;
}

main::-webkit-scrollbar {
  width: 6px;
}

main::-webkit-scrollbar-track {
  background: transparent;
}

main::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 10px;
}
