<p-toast />
<div class="flex h-screen bg-gray-950 text-white">
    <div class="hidden lg:flex flex-col justify-between p-12 w-1/2 bg-gray-950 relative overflow-hidden">

        <div
            class="absolute top-0 left-0 w-3/4 h-3/4 bg-blue-500 rounded-full opacity-[0.05] transform -translate-x-1/2 -translate-y-1/2">
        </div>

        <div class="absolute top-8 left-8 z-10">
            <svg class="h-10 w-10 text-blue-500" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M10 21h7a2 2 0 002-2v-7m-9 9l-4-4m0 0l-4-4m4 4h8"></path>
            </svg>
        </div>

        <div class="mt-20 z-10 text-center">
            <h1 class="text-6xl leading-snug  font-bold mb-6">
                ERP System Registration
            </h1>
            <p class="mt-4 text-xl text-gray-300 px-8">
                Join us to streamline your business operations and gain powerful, data-driven insights from anywhere!
            </p>
        </div>

        <div class="absolute bottom-0 right-0 w-[75%] h-[50%] z-0">
            <img src="https://cdn.dribbble.com/userupload/15667932/file/original-268a2b2c1c682ba828ddf27c22d091b9.png?resize=1504x1195&vertical=center"
                alt="Analytics Charts"
                class="object-cover w-full h-full opacity-80 rounded-tl-xl shadow-2xl shadow-blue-900/50">
        </div>

        <div
            class="absolute bottom-0 right-0 w-3/4 h-3/4 bg-blue-500 rounded-full opacity-[0.05] transform translate-x-1/2 translate-y-1/2">
        </div>
    </div>

    <div class="flex items-center justify-center w-full lg:w-1/2 p-8 lg:p-16 relative overflow-hidden ">


        <div class="w-full z-20 ">

            <h2 class="text-4xl  mb-12 " [class.!text-red-600]="registerForm.invalid&&registerForm.touched">Sign up</h2>

            <form [formGroup]="registerForm" (ngSubmit)="handleSubmit()" novalidate>
                <!-- todo name  -->
                <div class="relative z-0 w-full mb-5 group">
                    <input type="text" name="floating_name" id="floating_name" formControlName="userName"
                        [class.borede-red-500]="userName?.touched && userName?.errors"
                        class="block py-2.5 px-0 w-full text-sm text-white bg-transparent border-0 border-b-2 border-gray-600 appearance-none focus:outline-none focus:ring-0 focus:border-blue-500 peer"
                        placeholder=" " required [class.borede-red-500]="" />

                    <label for="floating_name" [class.text-red-500]="userName?.touched && userName?.errors"
                        class="absolute text-sm text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">Name</label>
                </div>
                @if (userName?.touched&&userName?.errors) {
                <div class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                    role="alert">
                    @if (userName?.getError('required')) {
                    <span class="font-medium">Name is required.</span>
                    }
                    @if (userName?.getError('minlength')) {
                    <span class="font-medium">Name must be at least 4 characters long.</span>
                    }
                    @if (userName?.getError('maxlength')) {
                    <span class="font-medium">Name cannot exceed 20 characters.</span>
                    }
                </div>
                }
                <!-- todo email -->
                <div class="relative z-0 w-full mb-5 group">
                    <input type="email" name="floating_email" id="floating_email" formControlName="email"
                        [class.!borede-red-500]="emailControl?.touched && emailControl?.errors"
                        class="block py-2.5 px-0 w-full text-sm text-white bg-transparent border-0 border-b-2 border-gray-600 appearance-none focus:outline-none focus:ring-0 focus:border-blue-500 peer"
                        placeholder=" " required />
                    <label for="floating_email" [class.!text-red-500]="emailControl?.touched && emailControl?.errors"
                        class="absolute text-sm text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">Email
                    </label>
                </div>
                @if (emailControl?.touched&&emailControl?.errors) {
                <div class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                    role="alert">
                    @if (emailControl?.getError('required')) {
                    <span class="font-medium">Email is required.</span>
                    }
                    @if (emailControl?.getError('email')) {
                    <span class="font-medium">Please enter a valid email address.</span>
                    }
                    @if (emailControl?.getError('maxlength')) {
                    <span class="font-medium">Email cannot exceed 50 characters.</span>
                    }
                </div>
                }

                <!-- phone -->
                <div class="relative z-0 w-full mb-5 group">
                    <input type="tel" name="floating_phone" id="floating_phone" formControlName="phone"
                        [class.!borede-red-500]="phoneControl?.touched && phoneControl?.errors"
                        class="block py-2.5 px-0 w-full text-sm text-white bg-transparent border-0 border-b-2 border-gray-600 appearance-none focus:outline-none focus:ring-0 focus:border-blue-500 peer"
                        placeholder=" " required />
                    <label for="floating_phone" [class.!text-red-500]="phoneControl?.touched && phoneControl?.errors"
                        class="absolute text-sm text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">phone</label>
                </div>
                @if (phoneControl?.touched&&phoneControl?.errors) {
                <div class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                    role="alert">
                    @if (phoneControl?.getError('required')) {
                    <span class="font-medium">Phone number is required.</span>
                    }
                    @if (phoneControl?.getError('pattern')) {
                    <span class="font-medium">Please enter an Egyptian Number .</span>
                    }
                </div>
                }
                <!-- todo  dropdown  (role)-->
                <button id="dropdownRadioBgHoverButton" data-dropdown-toggle="dropdownRadioBgHover" class="inline-flex items-center mt-3 justify-center text-white bg-blue-600 border border-transparent
                   hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 shadow-lg font-medium leading-5 mb-12 text-sm px-4 py-2.5
                   focus:outline-none cursor-pointer" type="button"
                    [class.!bg-red-600]="roleControl?.touched && roleControl?.errors">
                    Employee Role
                    <svg class="w-4 h-4 ms-1.5 -me-0.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                        height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m19 9-7 7-7-7" />
                    </svg>
                </button>

                <div id="dropdownRadioBgHover"
                    class="z-10 hidden bg-gray-800 border border-blue-500/20 rounded-md shadow-xl w-48"
                    [class.bg.red-600]="roleControl?.touched && roleControl?.errors">
                    <ul class="p-2 text-sm text-gray-300 font-medium space-y-1"
                        aria-labelledby="dropdownRadioBgHoverButton">

                        <li>
                            <div
                                class="flex items-center p-2 rounded hover:bg-gray-700 hover:text-white cursor-pointer">
                                <input id="role-admin" type="radio" name="role" value="admin" formControlName="role"
                                    class="w-4 h-4 text-blue-500 bg-gray-700 border-gray-600 focus:ring-blue-500">
                                <label for="role-admin" class="ms-2 select-none">System Admin</label>
                            </div>
                        </li>

                        <li>
                            <div
                                class="flex items-center p-2 rounded hover:bg-gray-700 hover:text-white cursor-pointer">
                                <input id="role-ceo" type="radio" name="role" value="ceo" formControlName="role"
                                    class="w-4 h-4 text-blue-500 bg-gray-700 border-gray-600 focus:ring-blue-500"
                                    checked>
                                <label for="role-ceo" class="ms-2 select-none">CEO</label>
                            </div>
                        </li>

                        <li>
                            <div
                                class="flex items-center p-2 rounded hover:bg-gray-700 hover:text-white cursor-pointer">
                                <input id="role-cfo" type="radio" name="role" value="cfo" formControlName="role"
                                    class="w-4 h-4 text-blue-500 bg-gray-700 border-gray-600 focus:ring-blue-500">
                                <label for="role-cfo" class="ms-2 select-none">CFO</label>
                            </div>
                        </li>

                        <li>
                            <div
                                class="flex items-center p-2 rounded hover:bg-gray-700 hover:text-white cursor-pointer">
                                <input id="role-employee" type="radio" name="role" value="employee"
                                    formControlName="role"
                                    class="w-4 h-4 text-blue-500 bg-gray-700 border-gray-600 focus:ring-blue-500">
                                <label for="role-employee" class="ms-2 select-none">Employee</label>
                            </div>
                        </li>

                    </ul>
                </div>
                @if (roleControl?.touched&&roleControl?.errors) {
                <div class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                    role="alert">
                    @if (roleControl?.getError('required')) {
                    <span class="font-medium">Role is required.</span>
                    }
                </div>
                }
                <!-- ------------------- -->

                <button type="submit" [disabled]="registerForm.invalid"
                    [class.!bg-red-600]="registerForm.invalid&&registerForm.touched"
                    class="disabled:opacity-30 w-full py-3 bg-blue-600 hover:bg-blue-700 rounded-lg font-semibold transition duration-200 cursor-pointer shadow-md shadow-blue-600/50">
                    Sign up
                </button>
            </form>

        </div>
    </div>
</div>