<aside
    class="w-64 bg-white border-r border-slate-200 flex flex-col sticky top-0 h-screen flex-shrink-0  fixed h-full dark:bg-gray-900 dark:border-gray-800">
    <div class="flex h-16 items-center border-b border-[#e5e7eb] dark:border-gray-800 px-6">
        <div class="flex items-center gap-2 text-main">
            <div class="flex items-center justify-center rounded-lg bg-main/10 p-1.5">
                <span class="material-symbols-outlined text-main fill" style="font-size: 28px;">hr_resting</span>
            </div>
            <h1 class="text-lg font-bold tracking-tight text-[#111318] dark:text-white">HR ERP</h1>
        </div>
    </div>
    <div class="flex flex-col gap-4 p-4">
        <div class="flex flex-col gap-1">
            <p class="px-3 text-xs font-semibold uppercase tracking-wider text-[#616f89] dark:text-gray-400 mb-2">
                Main</p>
            <a class="flex items-center gap-3 px-3 py-2.5 rounded-lg bg-main/10 text-main" routerLink="/hr-department">
                <span class="material-symbols-outlined fill">dashboard</span>
                <p class="text-sm font-medium leading-normal">Dashboard</p>
            </a>
            <a class="flex items-center gap-3 px-3 py-2.5 rounded-lg text-[#616f89] hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-800 transition-colors"
                routerLink="/employee-management">
                <span class="material-symbols-outlined">group</span>
                <p class="text-sm font-medium leading-normal">Employees</p>
            </a>
            <a class="flex items-center gap-3 px-3 py-2.5 rounded-lg text-[#616f89] hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-800 transition-colors"
                routerLink="/hr-dashboard">
                <span class="material-symbols-outlined">domain</span>
                <p class="text-sm font-medium leading-normal">Departments</p>
            </a>
        </div>
        <div class="flex flex-col gap-1">
            <p class="px-3 text-xs font-semibold uppercase tracking-wider text-[#616f89] dark:text-gray-400 mb-2 mt-2">
                Recruitment</p>
            <a class="flex items-center gap-3 px-3 py-2.5 rounded-lg text-[#616f89] hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-800 transition-colors"
                routerLink="/job-requierments-management">
                <span class="material-symbols-outlined">badge</span>
                <p class="text-sm font-medium leading-normal">Recruitment</p>
            </a>
            <a class="flex items-center gap-3 px-3 py-2.5 rounded-lg text-[#616f89] hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-800 transition-colors"
                routerLink="/application-management">
                <span class="material-symbols-outlined">badge</span>
                <p class="text-sm font-medium leading-normal">Applications</p>
            </a>
            <a class="flex items-center gap-3 px-3 py-2.5 rounded-lg text-[#616f89] hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-800 transition-colors"
                routerLink="/candidate-management">
                <span class="material-symbols-outlined">person_search</span>
                <p class="text-sm font-medium leading-normal">Candidates</p>
            </a>
        </div>
        <!-- <div class="flex flex-col gap-1">
            <p class="px-3 text-xs font-semibold uppercase tracking-wider text-[#616f89] dark:text-gray-400 mb-2 mt-2">
                System</p>
            <a class="flex items-center gap-3 px-3 py-2.5 rounded-lg text-[#616f89] hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-800 transition-colors"
                href="#">
                <span class="material-symbols-outlined">description</span>
                <p class="text-sm font-medium leading-normal">Contracts</p>
            </a>
            <a class="flex items-center gap-3 px-3 py-2.5 rounded-lg text-[#616f89] hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-800 transition-colors"
                href="#">
                <span class="material-symbols-outlined">settings</span>
                <p class="text-sm font-medium leading-normal">Settings</p>
            </a>
        </div> -->
    </div>
    <div class="mt-auto p-4 border-t border-[#e5e7eb] dark:border-gray-800">
        <div class="flex items-center gap-3">
            <div class="h-10 w-10 overflow-hidden rounded-full bg-gray-200" data-alt="User profile picture">
                <img alt="Profile" class="h-full w-full object-cover"
                    src="https://lh3.googleusercontent.com/aida-public/AB6AXuC-pNbtJjKa4oLlCUGQztdxJmbDa5bbZ1SvOjs2CjDERxaaf3WS_ctEM706K8YBImlIIx3OvuA-gP3WeLJq03T5jLyxdgJhrgXvIU8uTUpWvbLN64Kx78IhmcCA1qkZozAtKhG4brDZnwWm3xIMlhDFx_B4dBA7AYbA-dfAHh1MalcfJTRY6fQtV-jjq6Gp_lDGKeEWHTW4GoyiDBfX7F7H1nGGCHtIxfT9n-FFqQjjC0-g_ITfEI9hzu_XcoqF5w7dYgzaitSDAWFH" />
            </div>
            <div class="flex flex-col">
                <p class="text-sm font-medium text-[#111318] dark:text-white">Jane Cooper</p>
                <p class="text-xs text-[#616f89]">HR Manager</p>
            </div>
        </div>
    </div>
</aside>