<div
    class="flex flex-col overflow-hidden  rounded-xl border border-gray-200 dark:border-gray-800 bg-white dark:bg-background-dark/50 hover:shadow-lg transition-shadow duration-300 ">
    <div class="aspect-square w-full bg-cover bg-center" data-alt="A modern wristwatch on a white background."
        style="background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuDoss8IzvTPcbe5Xa2-ohyC2GWaOoo-aXR-AGgCATm96iytpqII8UjPvmX_TcKg9D3VW6Ukj5jAlNhIRGe-WSjg4dwALc0x-HhTQY6zvbl9n3XkSddXwMvOshwviEzwezyI32krVqRIKKBsI3yyfuTYqylsCkIa7hmrhoKYrZLOJXz8L2OIOjGXonDuwMHaT4scZ1doSbcgrSqpJZ4wiid2IrAy50bRx0VHopKiC7Bf4lUfLwh2VeIYNeU64KGsUZic59Wlp4gjN6TP');">
    </div>
    <div class="flex flex-col p-4 space-y-3">
        <h3 class="font-semibold text-gray-800 dark:text-white">Chronos Watch X1</h3>
        <p class="text-xs text-gray-500 dark:text-gray-400">SKU: WX1-0012</p>
        <div class="flex items-center justify-between">
            <p class="text-lg font-bold text-gray-900 dark:text-white">$299.99</p>
            <span
                class="inline-flex items-center rounded-full bg-green-100 dark:bg-green-900/50 px-2.5 py-0.5 text-xs font-medium text-green-800 dark:text-green-300 cursor-pointer">In
                Stock: 78</span>
        </div>
        <p class="text-sm text-gray-500 dark:text-gray-400">Supplier: Timekeepers Inc.</p>
        <button
            class="flex h-10 w-full cursor-pointer items-center justify-center overflow-hidden rounded-lg bg-main text-white gap-2 text-sm font-bold leading-normal tracking-[0.015em] bg-main hover:bg-hover-main active:scale-[0.98] transition-all duration-150">
            <span class="material-symbols-outlined text-base">add_shopping_cart</span>
            Add to Cart
        </button>
    </div>
</div>
<div
    class="flex flex-col overflow-hidden rounded-xl border border-gray-200 dark:border-gray-800 bg-white dark:bg-background-dark/50 hover:shadow-lg transition-shadow duration-300 ">
    <div class="aspect-square w-full bg-cover bg-center" data-alt="A pair of red and black running shoes."
        style="background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuCDcPhjCLL558LXDxULxJAEftI0Yk2N8iChq8M0uDgvCt3-H47LS1RWrXGtM21DpJI_Yvfc_ChualFz0WUGG-ldv5uEnWmp-NeKNHFHVYrZ2RvwmzDP7n0h3MR0c_FaTMsnIMwxY60db86GoUs4_dR1KWbzsnCFr9PyfcX4XhMoYl_a151v_3rpecYW6TmZ8JlJXOpCjmKds-2hbG-Yq9hjv4DsrIc0wnC0Y37QHRNJvhSRWWLZhVRMarB--mHkgrG8ukLRNNfqMqaa');">
    </div>
    <div class="flex flex-col p-4 space-y-3">
        <h3 class="font-semibold text-gray-800 dark:text-white">Velocity Runners</h3>
        <p class="text-xs text-gray-500 dark:text-gray-400">SKU: RSH-V2-R</p>
        <div class="flex items-center justify-between">
            <p class="text-lg font-bold text-gray-900 dark:text-white">$120.00</p>
            <span
                class="inline-flex items-center rounded-full bg-green-100 dark:bg-green-900/50 px-2.5 py-0.5 text-xs font-medium text-green-800 dark:text-green-300">In
                Stock: 150</span>
        </div>
        <p class="text-sm text-gray-500 dark:text-gray-400">Supplier: Apex Gear</p>
        <button
            class="flex h-10 w-full cursor-pointer items-center justify-center overflow-hidden rounded-lg bg-main text-white gap-2 text-sm font-bold leading-normal tracking-[0.015em] hover:bg-hover-main active:scale-[0.98] transition-all duration-150">
            <span class="material-symbols-outlined text-base">add_shopping_cart</span>
            Add to Cart
        </button>
    </div>
</div>
<div
    class="flex flex-col overflow-hidden rounded-xl border border-gray-200 dark:border-gray-800 bg-white dark:bg-background-dark/50 hover:shadow-lg transition-shadow duration-300 ">
    <div class="aspect-square w-full bg-cover bg-center" data-alt="A pair of black wireless headphones."
        style="background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuBjRogP2uEtZH9GNfGQhgcoYfPaXVZhl9IjxOSKPE8ExgB-bRgSyJy8JGeBE7aQy_vMLpVkxiIllEO_i49B6jljnvNsqOPvaDxbkWVExueMMoGQKZJbQTqgVvhd_G8lpAPPoq8ggf9-nAZMWIuCOKDYPXrsmwSMuuJ-JYUEAgDZsJHozvPo31NqDb6IVHYmHbb4vDf57_P84o1JgOnn8d5lwJ5TNQebLSr6Q6i3w9kSNzNuGN0P-k6ZtNupBT6JDk3nLX7l2xl1gr78');">
    </div>
    <div class="flex flex-col p-4 space-y-3">
        <h3 class="font-semibold text-gray-800 dark:text-white">Aura Headphones</h3>
        <p class="text-xs text-gray-500 dark:text-gray-400">SKU: HDP-AURA-BK</p>
        <div class="flex items-center justify-between">
            <p class="text-lg font-bold text-gray-900 dark:text-white">$199.50</p>
            <span
                class="inline-flex items-center rounded-full bg-yellow-100 dark:bg-yellow-900/50 px-2.5 py-0.5 text-xs font-medium text-yellow-800 dark:text-yellow-300">Low
                Stock: 12</span>
        </div>
        <p class="text-sm text-gray-500 dark:text-gray-400">Supplier: SoundWave</p>
        <button
            class="flex h-10 w-full cursor-pointer items-center justify-center overflow-hidden rounded-lg bg-main text-white gap-2 text-sm font-bold leading-normal tracking-[0.015em] hover:bg-hover-main">
            <span class="material-symbols-outlined text-base">add_shopping_cart</span>
            Add to Cart
        </button>
    </div>
</div>
<div
    class="flex flex-col overflow-hidden rounded-xl border border-gray-200 dark:border-gray-800 bg-white dark:bg-background-dark/50 hover:shadow-lg transition-shadow duration-300">
    <div class="aspect-square w-full bg-cover bg-center" data-alt="A black smartwatch displaying a colorful interface."
        style="background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuC9s7h8ycR543b2mMHewlrlJAjbzf9eXH85vO0iO2h1J3J9X6rIOuNbLuXH0l3FqHFapJ-XHGVpzYFkj4B46GVSw3VZsE9g_CzW2fJUgqVvGBH4KN3jfr0b2sBjyoAlUy_8dtqDrIYHJL7lzEYZZ1Vdwt0uyY3MqwXbmaA1J8A7qRPCh7HxgkvwC8yZxXVzfJeWGt-pVt904zebEbwsTIcimaG8NPJC9h2CHa-uHKCidlVjHtkxdVOH7C88MbPzfa_VrJf8lyO2UJ27');">
    </div>
    <div class="flex flex-col p-4 space-y-3">
        <h3 class="font-semibold text-gray-800 dark:text-white">Connect Smartwatch</h3>
        <p class="text-xs text-gray-500 dark:text-gray-400">SKU: SW-C1-BLK</p>
        <div class="flex items-center justify-between">
            <p class="text-lg font-bold text-gray-900 dark:text-white">$350.00</p>
            <span
                class="inline-flex items-center rounded-full bg-red-100 dark:bg-red-900/50 px-2.5 py-0.5 text-xs font-medium text-red-800 dark:text-red-300">Out
                of Stock</span>
        </div>
        <p class="text-sm text-gray-500 dark:text-gray-400">Supplier: TechLink</p>
        <button
            class="flex h-10 w-full cursor-not-allowed items-center  justify-center overflow-hidden rounded-lg bg-gray-300 dark:bg-gray-700 text-gray-500 dark:text-gray-400 gap-2 text-sm font-bold leading-normal tracking-[0.015em] "
            disabled="">
            View Details
        </button>
    </div>
</div>